## How to build the Python pyenv virtualenv for this project.
#
## Install these packages using your local package manager such as brew on macOS:
#   brew install pyenv
#   brew install pyenv-virtualenv
#   brew install pyenv-virtualenvwrapper
#
## Install OpenBLAS via brew (etc.) or compile it from source.
#
## Create a pyenv:
#   PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install 3.10.3
#   pyenv local 3.10.3
#
## Create and select a new python virtual environment:
#   pyenv virtualenv location_tools && pyenv local location_tools
#
## Install numpy on OpenBLAS:
## * Save these lines as ~/.numpy-site.cfg
#    [openblas]
#    libraries = openblas
#    library_dirs = /opt/OpenBLAS/lib
#    include_dirs = /opt/OpenBLAS/include
## * Run
#    pip install numpy==1.19 --no-binary numpy
#
## Upgrade the installers:
#   pip install --upgrade pip setuptools virtualenv wheel
#
## Then install all the other packages listed here:
#   pip install -r requirements.txt && pyenv rehash

geopy==1.18.1
matplotlib==2.2.2
numpy>=1.19
# pytest
virtualenv>=16.0.0
